
<html>
 <form action="/controlrobot" method="POST" enctype="application/x-www-form-urlencoded">
        <label for="commandtype">Please enter a command</label>
        <input id="commandtype" type="text" name="commandtype"/><br />
        
       
        <input type="submit" value="Submit File" />
      </form>
  
</html>